.btn {
  display: inline-block;
  padding: 15px 30px;
  font-family: inherit;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  background-color: $color-accent;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    box-shadow: 0 0 5px $color-accent;
  }
}

.btn-form {
  width: 100%;
}

.btn-tablet {
  @media (max-width: $mobile-max) {
    display: none;
  }
}

.btn-mobile {
  display: none;

  @media (max-width: $mobile-max) {
    display: inline-block;
    margin-top: 50px;
  }
}
