.services {
  padding: 100px 0;
  background-color: $color-light;
  color: $color-dark;

  @media (max-width: $tablet-max) {
    padding: 70px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 50px 0;
  }
}

.services-inner {
  @include container;
}

.services-title {
  @include title-section;
}

.services-caption {
  margin-bottom: 30px;
  font-family: $font-ral;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;

  @media (max-width: $tablet-max) {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 42px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 38px;
  }
}

.services-text {
  font-weight: 300;
  font-size: 28px;
  line-height: 38px;

  @media (max-width: $mobile-max) {
    font-size: 24px;
    line-height: 33px;
  }
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: -$gap-half;
  margin-right: -$gap-half;

  @media (max-width: $tablet-max) {
    margin-top: 0;
  }

  @media (max-width: $mobile-max) {
    display: block;
    margin-top: 10px;
  }
}

.services-item {
  flex-basis: 50%;
  margin-top: 50px;
  padding: 0 $gap-half;

  @media (max-width: $tablet-max) {
    margin-top: 60px;
  }

  @media (max-width: $mobile-max) {
    margin-top: 40px;
  }
}

.services-item-accent {
  color: $color-accent;
}

.services-icon {
  display: block;
  width: 80px;
  height: 56px;
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

.services-icon-furniture {
  background-image: url("../images/icon-furniture.svg");
}

.services-icon-speaker {
  background-image: url("../images/icon-speaker.svg");
}

.services-icon-phone {
  background-image: url("../images/icon-phone.svg");
}

.services-icon-micro {
  background-image: url("../images/icon-micro.svg");
}

