.social {
  display: flex;
  align-items: center;
  list-style: none;

  @media (max-width: $mobile-max) {
    margin-bottom: 10px;
  }
}

.social-item {
  margin-left: 15px;

  &:first-child {
    @media (max-width: $mobile-max) {
      margin-left: 0;
    }
  }
}

.social-link {
  display: block;
  width: 26px;
  height: 26px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-link-insta {
  background-image: url('../images/icon-insta.svg');
}

.social-link-fb {
  background-image: url('../images/icon-fb.svg');
}

.social-link-telega {
  background-image: url('../images/icon-telega.svg');
}

.social-text {
  position: absolute;
  font-size: 1px;
  opacity: 0;
}
